---
const { products = [] } = Astro.props;
---

{products.map(product => (
  <div class="product-card">
    <img src={product.image} alt={product.title} loading="lazy"/>
    <div class="product-info">
      <h2 class="product-title">{product.title}</h2>
      <p class="product-desc">{product.description}</p>
    </div>
  </div>
))}
