---
import Layout from '../layouts/Layout.astro';
import ProductList from '../components/ProductList.astro';
import Searchbar from '../components/Searchbar.astro';
const page = 1;
const amount = 20;
const res = await fetch('http://backend:8080/search', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json',
  },
  body: JSON.stringify({ page, amount }),
});
const data = await res.json();
const products = data.results || [];
---

<Layout>
    <Searchbar />

  <div id="product-list">
    <ProductList products={products} />
  </div>

  <script type="module" src="/lib/items.js"></script>
</Layout>
